<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 本部分定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消以下部分的注释，以写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消以下部分的注释，并用应用程序名替换 APPLICATION_NAME，以写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <My.MySettings>
            <setting name="TextPath" serializeAs="String">
                <value />
            </setting>
            <setting name="textForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="textBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InfoBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InfoForeColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="textFont" serializeAs="String">
                <value>Verdana, 9pt</value>
            </setting>
            <setting name="IntervalOfFading" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IntervalOfSliding" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>
